<template>
  <div class="Edit">
    <EditOptionsOverlay v-if="showOptions" />

    <EditableLabel
      v-if="currentShow"
      :text="currentShow.name"
      :onChange="onNameChange"
    />
    <div class="Edit__controls">
      <button @click="showSettings">Show Settings</button>
      <button>Slide Settings</button>
      <button>Delete Show</button>
    </div>
    <SlidePreviews v-if="currentShow" :slides="currentShow.slides" />
    <WorkingSlide />
    <Widgets />
  </div>

</template>


<script lang="ts">
  // have save button - this saves/updates presentation
  // have delete button
  import Vue from 'vue';
  import Show from '@/models/Show';
  import {
    CLOSE_OPTIONS_OVERLAY,
    SHOW_OPTIONS_OVERLAY,
    CURRENTLY_EDITING_SHOW,
    UPDATE_SHOW_NAME,
  } from '@/store/actionConstants';

  import EditOptionsOverlay from '@/components/EditOptionsOverlay.vue';
  import EditableLabel from '@/components/EditableLabel.vue';
  import SlidePreviews from '@/components/SlidePreviews.vue';
  import WorkingSlide from '@/components/WorkingSlide.vue';
  import Widgets from '@/components/Widgets.vue';

  export default Vue.extend({
    created(): void {
      // Tell store we are editing this store
      try {
        this.$store.dispatch(CURRENTLY_EDITING_SHOW, parseInt(this.$route.params.id, 10));
      } catch (e) {
        // Show doesn't exist, so redirect to home page
        this.$router.push('/');
      }
    },
    components: {
      EditOptionsOverlay,
      EditableLabel,
      SlidePreviews,
      WorkingSlide,
      Widgets,
    },
    methods: {
      onNameChange(text: string): void {
        this.$store.dispatch(UPDATE_SHOW_NAME, text);
      },
      showSettings(): void {
        this.$store.dispatch(SHOW_OPTIONS_OVERLAY);
      },
    },
    computed: {
      showOptions(): boolean {
        return this.$store.state.ui.showOptions;
      },
      currentShow(): Show {
        return this.$store.state.ui.currentlyEditingShow;
      },
    },
    beforeDestroy(): void {
      this.$store.dispatch(CLOSE_OPTIONS_OVERLAY);
      try {
        this.$store.dispatch(CURRENTLY_EDITING_SHOW, null);
      } catch {
        // Show we were editing has been deleted?
        return;
      }
    },
  });

</script>

<style scoped>
  .Edit {
    display: grid; grid-template-columns: 110px 1fr 100px 100px;
    grid-template-rows: 40px 1fr;
    height: 95%;
  }
  .Edit__controls {
    grid-column: auto /
    span 2;
  }
</style>
