<template>
  <div class="home">
    Hello!
    You have {{ this.shows.length || ' no ' }} slideshows.
    <!-- List slideshows here, with links to Edit and Run -->
    <ul class="Shows">
      <ShowPreview
        :key="show.id"
        v-for="show in this.shows"
        :id="show.id" />
    </ul>
    <button @click="this.addNewShow">+ Make New Show</button>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { mapState } from 'vuex';

  import ShowPreview from '@/components/ShowPreview.vue';
  import { ADD_SHOW } from '@/store/actionConstants';

  export default Vue.extend({
    computed: mapState(['shows']),
    name: 'Home',
    components: {
      ShowPreview,
    },
    methods: {
      async addNewShow(): Promise<void> {
        // Promise will resolve as its coming from action
        const newShow = await this.$store.dispatch(ADD_SHOW);
        // Redirect to new show
        this.$router.push(`/edit/${newShow.id}?new=true`);
      },
    },
  });
</script>

<style scoped>
  .Shows {
    list-style: none; padding: 0; margin: 0; display: grid; grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  }
</style>
