<template>
  <p>Running: '{{ this.show.name }}'</p>
</template>

<script lang='ts'>
import Vue from 'vue';
import Show from '@/models/Show';

export default Vue.extend({
  computed: {
    show(): Show {
      return this.$store.getters.getShowById(parseInt(this.$route.params.id, 10));
    },
  },
  name: 'Run',
});
</script>
