<template>
  <div class="EditableLabel">
    <label
      class="EditableLabel__label"
      v-if="!editing"
      @click="labelOnClick"
      for="EditableLabel"
    >
      {{ text }}
    </label>
    <input
      class="EditableLabel__input"
      v-if="editing"
      ref="EditableLabelInput"
      id="EditableLabel"
      type="text"
      :value="text"
      @blur="handleChange"
      @keyup.enter="handleChange"
      @keyup.esc="handleChange"
    />
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    props: {
      text: String,
      onChange: Function,
    },
    data() {
      return {
        editing: false,
      };
    },
    methods: {
      handleChange(e: any): void {
        this.editing = false;
        this.onChange(e.target.value);
      },
      labelOnClick(): void {
        this.editing = true;
        this.$nextTick(() => (this.$refs.EditableLabelInput as HTMLInputElement).focus());
      },
    },
  });
</script>


<style scoped>
  .EditableLabel {
    grid-column: 1 / 3; padding: 5px 0; display: flex;
  }
  .EditableLabel__label {
    cursor: text; font-weight: bold; border: 1px solid rgba(0, 0, 0, 0);
    position: relative; padding: 0; font-size: 1.6rem; height: 30px;
    /* padding: 3px; */
  }
  .EditableLabel__label:hover {
    border: 1px solid gray;
  }
  .EditableLabel__input {
    font-size: 1.6rem; font-weight: bold; padding: 0; height: 30px;
    border: 1px solid blue; font-family: serif; outline: none;
    /* padding: 3px; width: 90%; */
  }
</style>
