<template>
  <div class="EditOptionsOverlay">
    Options go here
    <button @click="closeEditOptions">X</button>
  </div>
</template>


<script lang="ts">
  import Vue from 'vue';
  import { CLOSE_OPTIONS_OVERLAY } from '@/store/actionConstants';

  export default Vue.extend({
    methods: {
      closeEditOptions(): void {
        this.$store.dispatch(CLOSE_OPTIONS_OVERLAY);
      },
    },
  });
</script>

<style scoped>
  .EditOptionsOverlay {
    position: absolute; top: 0; left: 0; background: rgba(0 , 0 , 0 , 0.8);
    width: 100vw; height: 100vh;
  }
</style>
