<template>
  <img :src="image.src" />
</template>

<script lang="ts">
  import Vue from 'vue';
  import Image from '@/models/Image';

  export default Vue.extend({
    props: {
      image: Image,
      className: Object,
      type: String,
      // type is icon, background, etc.
    },
  });
</script>

<style scoped>

</style>
