<!-- // Shows preview of slide on Homepage -->
<template>
  <li class="ShowPreview" v-if="this.show">
    <div class="ShowPreview-front">
      <h2>{{ this.show.name }}</h2>
    </div>
    <div class="ShowPreview-back">
      <router-link :to="`/edit/${this.show.id}`">Edit</router-link>
      <router-link :to="`/run/${this.show.id}`">▶️</router-link>
    </div>
  </li>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Slide from '@/models/Slide';
  import Show from '@/models/Show';

  export default Vue.extend({
    name: 'ShowPreview',
    props: {
      id: Number,
    },
    computed: {
      show(): Show|null {
        return this.$store.getters.getShowById(this.$props.id);
      },
    },
  });
</script>

<style scoped>
  a { text-decoration: none; }
  .ShowPreview {
    border: 1px solid red; height: 10rem; display: flex; align-items: center;
    justify-content: center; text-align: center;
  }
  .ShowPreview-back { width: 60%; }
  /* When hovering */
  .ShowPreview:hover .ShowPreview-back {
    display: flex; align-items: center; justify-content: space-between;
  }
  .ShowPreview:hover .ShowPreview-front { display: none; }
  .ShowPreview-back { display: none; }
</style>
