<template>
  <div class="SlidePreviews">
    <button @click="addSlide" class="SlidePreviews__add-button">+</button>
    <ul class="SlidePreviews__list">
        <li
        v-for="slide in slides"
        :key="slide.id"
        @click="onSlideClick(slide.id)"
        class="SlidePreviews__container"
        :class="{ 'SlidePreviews__container--active': currentSlideId === slide.id }"
        >
        <span class="SlidePreviews__id">{{ slide.id }}</span>
        <div
          class="SlidePreviews__preview"
          :class="{ 'SlidePreviews__preview--active': currentSlideId === slide.id }"
        >
          <ImageRenderer :image="slide.icon" />
          </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Slide from '@/models/Slide';
  import ImageRenderer from '@/components/ImageRenderer.vue';
  import { ADD_NEW_SLIDE, CURRENTLY_EDITING_SLIDE } from '@/store/actionConstants';

  export default Vue.extend({
    props: {
      slides: Array,
    },
    components: {
      ImageRenderer,
    },
    methods: {
      addSlide(): void {
        this.$store.dispatch(ADD_NEW_SLIDE);
      },
      onSlideClick(slideId: number): void {
        this.$store.dispatch(CURRENTLY_EDITING_SLIDE, slideId);
      },
    },
    computed: {
      currentSlideId(): number {
        return this.$store.getters.currentSlideId;
      },
    },
  });
</script>

<style scoped>
  .SlidePreviews {
    overflow: scroll;
  }
  .SlidePreviews__add-button {
    border: 1px solid black; border-radius: 100%; background: red; width: 35px;
    height: 35px; font-weight: bold; font-size: 1.8rem; display: flex; align-items: flex-start;
    justify-content: center;
  }
  .SlidePreviews__list {
    flex-direction: column; overflow: scroll; height: 90%;
    list-style: none; margin: 0; padding: 0 5px 0 0;
  }
  .SlidePreviews__container {
    margin: 10px 0; height: 50px; display: flex; padding: 4px;
  }
  .SlidePreviews__container--active {
    background: gray;
  }
  .SlidePreviews__id {
    margin-right: 5px;
  }
  .SlidePreviews__preview {
    background: red; width: 100%; border-radius: 5px;
  }
  .SlidePreviews__preview--active {
    border: 2px solid blue;
  }
  /* Needed for scrollbar */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .2);
  }
</style>
