<template>
  <div class="Widgets">
    Widgets
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({});
</script>

<style scoped>
  .Widgets {
    grid-column: 3 / -1;
  }
</style>
