<template>
  <div class="WorkingSlide">
    WorkingSlide
    <div v-if="!currentSlide">
      No slide! Add one!
    </div>
    <div v-if="currentSlide">
      Curently editing Slide ID {{ currentSlide.id }}
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Slide from '@/models/Slide';

  export default Vue.extend({
    computed: {
      currentSlide(): Slide {
        return this.$store.state.ui.currentlyEditingSlide;
      },
    },
  });
</script>
